# About Dataset

# Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Set Display

In [2]:
#pd.set_option('display.max_columns', None)

## Load/Read Dataset

In [3]:
# Read the file/files
raw_data = pd.read_excel('sba-table-of-size-standards_effective-august-19-2019_v0.xlsx',
                          sheet_name='table_of_size_standards-all')

In [4]:
# Original Dataset Check
raw_data.head(5)

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,NaN,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,11,111110,Soybean Farming,1,NaN,NaN
3,11,111120,Oilseed (except Soybean) Farming,1,NaN,NaN
4,11,111130,Dry Pea and Bean Farming,1,NaN,NaN

In [5]:
# Copy the dataset into a dataframe before making any changes
df = raw_data.copy()

In [6]:
# Check the dataframe
df

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
1,NaN,Subsector 111 – Crop Production,NaN,NaN,NaN,NaN
2,11,111110,Soybean Farming,1,NaN,NaN
3,11,111120,Oilseed (except Soybean) Farming,1,NaN,NaN
4,11,111130,Dry Pea and Bean Farming,1,NaN,NaN
...,...,...,...,...,...,...
1144,81,813930,Labor Unions and Similar Labor Organizations,8,NaN,NaN
1145,81,813940,Political Organizations,8,NaN,NaN
1146,81,813990,"Other Similar Organizations (except Business, ...",8,NaN,NaN
1147,NaN,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 19
1148,NaN,NaN,(Small business size standards are not establi...,NaN,NaN,NaN

# Meta Data of the Datasets

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149 entries, 0 to 1148
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   NAICS Sector                            1125 non-null   object
 1   NAICS Codes                             1126 non-null   object
 2   NAICS Industry Description              1060 non-null   object
 3   Size Standards
in millions of dollars  532 non-null    object
 4   Size standards in number of employees   505 non-null    float64
 5   Footnotes                               39 non-null     object
dtypes: float64(1), object(5)
memory usage: 54.0+ KB

In [8]:
df.shape

(1149, 6)

In [9]:
# missing/null values
df.isnull().sum()

NAICS Sector                                 24
NAICS Codes                                  23
NAICS Industry Description                   89
Size Standards \nin millions of dollars     617
Size standards in number of employees       644
Footnotes                                  1110
dtype: int64

In [10]:
# percentage of missing values
df.isnull().sum() / df.shape[0] * 100

NAICS Sector                                2.088773
NAICS Codes                                 2.001741
NAICS Industry Description                  7.745866
Size Standards \nin millions of dollars    53.698869
Size standards in number of employees      56.048738
Footnotes                                  96.605744
dtype: float64

In [11]:
# Counting Duplicates
df.duplicated().sum()

1

# EDA

In [12]:
# Descriptive statistics
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Size standards in number of employees,505.0,775.346535,401.968283,100.0,500.0,750.0,1000.0,1500.0

In [13]:
# Descriptive statistics for object data
df.describe(include='object').T

,count,unique,top,freq
NAICS Sector,1125,25,33,190
NAICS Codes,1126,1126,Subsector 111 – Crop Production,1
NAICS Industry Description,1060,1059,(These NAICS codes shall not be used to classi...,2
Size Standards \nin millions of dollars,532,17,8,126
Footnotes,39,18,See footnote 11,6

# Data Transformation and Cleaning

### NAICS Industry Description to Sector

In [14]:
# Fill NaN values with an empty string to avoid the ValueError
df['NAICS Industry Description'] = df['NAICS Industry Description'].fillna('')

# First, check for rows where 'NAICS Industry Description' starts with 'Sector'
df[df['NAICS Industry Description'].str.startswith('Sector')]

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes
0,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN
71,NaN,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN
103,NaN,NaN,Sector 22 – Utilities,NaN,NaN,NaN
119,NaN,NaN,Sector 23 – Construction,NaN,NaN,NaN
156,NaN,NaN,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN
538,NaN,NaN,Sector 42 – Wholesale Trade,NaN,NaN,NaN
614,NaN,NaN,Sector 44 - 45 – Retail Trade,NaN,NaN,NaN
694,NaN,NaN,Sector 48 - 49 – Transportation and Warehousing,NaN,NaN,NaN
764,NaN,NaN,Sector 51 – Information,NaN,NaN,NaN
802,NaN,NaN,Sector 52 – Finance and Insurance,NaN,NaN,NaN
847,NaN,NaN,Sector 53 – Real Estate and Rental and Leasing,NaN,NaN,NaN
875,NaN,NaN,"Sector 54 – Professional, Scientific and Techn...",NaN,NaN,NaN
932,NaN,NaN,Sector 55 – Management of Companies and Enterp...,NaN,NaN,NaN
936,NaN,NaN,"Sector 56 – Administrative and Support, Waste ...",NaN,NaN,NaN
984,NaN,NaN,Sector 61 – Educational Services,NaN,NaN,NaN
1004,NaN,NaN,Sector 62 – Health Care and Social Assistance,NaN,NaN,NaN
1048,NaN,NaN,"Sector 71 – Arts, Entertainment and Recreation",NaN,NaN,NaN
1077,NaN,NaN,Sector 72 – Accommodation and Food Services,NaN,NaN,NaN
1095,NaN,NaN,Sector 81 – Other Services,NaN,NaN,NaN
1147,NaN,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 19

In [15]:
# Create a new column 'Sector' where 'NAICS Industry Description' starts with 'Sector'
df['Sector'] = df['NAICS Industry Description'].where(df['NAICS Industry Description'].str.startswith('Sector'))

In [16]:
# Forward fill the the Sector Column
df['Sector'].ffill(inplace=True)

In [17]:
df

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,Sector
0,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
1,NaN,Subsector 111 – Crop Production,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
2,11,111110,Soybean Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
3,11,111120,Oilseed (except Soybean) Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
4,11,111130,Dry Pea and Bean Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
...,...,...,...,...,...,...,...
1144,81,813930,Labor Unions and Similar Labor Organizations,8,NaN,NaN,Sector 81 – Other Services
1145,81,813940,Political Organizations,8,NaN,NaN,Sector 81 – Other Services
1146,81,813990,"Other Similar Organizations (except Business, ...",8,NaN,NaN,Sector 81 – Other Services
1147,NaN,NaN,Sector 92 – Public Administration,NaN,NaN,See footnote 19,Sector 92 – Public Administration
1148,NaN,NaN,(Small business size standards are not establi...,NaN,NaN,NaN,Sector 92 – Public Administration

### NAICS Codes

In [18]:
df[['NAICS Codes']][:35]

                                          NAICS Codes
0                                                 NaN
1                     Subsector 111 – Crop Production
2                                              111110
3                                              111120
4                                              111130
5                                              111140
6                                              111150
7                                              111160
8                                              111191
9                                              111199
10                                             111211
11                                             111219
12                                             111310
13                                             111320
14                                             111331
15                                             111332
16                                             111333
17                                             111334
18                                             111335
19                                             111336
20                                             111339
21                                             111411
22                                             111419
23                                             111421
24                                             111422
25                                             111910
26                                             111920
27                                             111930
28                                             111940
29                                             111991
30                                             111992
31                                             111998
32  Subsector 112 – Animal Production and Aquaculture
33                                             112111
34                                             112112

In [19]:
# Fill NaN values with an empty string to avoid the ValueError / Fill NaN values with an empty string
df['NAICS Codes'] = df['NAICS Codes'].fillna('')

# Filter rows where 'NAICS Codes' is not NaN and starts with 'Subsector'
df[df['NAICS Codes'].notna() & df['NAICS Codes'].str.startswith('Subsector')]

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,Sector
1,NaN,Subsector 111 – Crop Production,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
32,Su,Subsector 112 – Animal Production and Aquaculture,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
51,Su,Subsector 113 – Forestry and Logging,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
55,Su,"Subsector 114 – Fishing, Hunting and Trapping",,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
60,Su,Subsector 115 – Support Activities for Agricul...,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and..."
...,...,...,...,...,...,...,...
1078,Su,Subsector 721 – Accommodation,,NaN,NaN,NaN,Sector 72 – Accommodation and Food Services
1086,Su,Subsector 722 – Food Services and Drinking Places,,NaN,NaN,NaN,Sector 72 – Accommodation and Food Services
1096,Su,Subsector 811 – Repair and Maintenance,,NaN,NaN,NaN,Sector 81 – Other Services
1116,Su,Subsector 812 – Personal and Laundry Services,,NaN,NaN,NaN,Sector 81 – Other Services
1133,Su,"Subsector 813 – Religious, Grantmaking, Civic,...",,NaN,NaN,NaN,Sector 81 – Other Services

In [20]:
# Create a new column 'Subsector' where 'NAICS Codes' starts with 'Subsector'
df['Subsector'] = df['NAICS Codes'].where(df['NAICS Codes'].str.startswith('Subsector'))

In [21]:
# Foward fill the subsector
df['Subsector'].ffill(inplace=True)

In [22]:
df

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,Sector,Subsector
0,NaN,,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN
1,NaN,Subsector 111 – Crop Production,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
2,11,111110,Soybean Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
3,11,111120,Oilseed (except Soybean) Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
4,11,111130,Dry Pea and Bean Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
...,...,...,...,...,...,...,...,...
1144,81,813930,Labor Unions and Similar Labor Organizations,8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1145,81,813940,Political Organizations,8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1146,81,813990,"Other Similar Organizations (except Business, ...",8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1147,NaN,,Sector 92 – Public Administration,NaN,NaN,See footnote 19,Sector 92 – Public Administration,"Subsector 813 – Religious, Grantmaking, Civic,..."
1148,NaN,,(Small business size standards are not establi...,NaN,NaN,NaN,Sector 92 – Public Administration,"Subsector 813 – Religious, Grantmaking, Civic,..."

### NAICS Sector

In [23]:
# See the null values of 'NAICS Sector' column
df.loc[df[['NAICS Sector']].isnull().all(axis=1)]

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,Sector,Subsector
0,NaN,,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",NaN
1,NaN,Subsector 111 – Crop Production,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
71,NaN,,"Sector 21 – Mining, Quarrying, and Oil and Gas...",NaN,NaN,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",Subsector 115 – Support Activities for Agricul...
103,NaN,,Sector 22 – Utilities,NaN,NaN,NaN,Sector 22 – Utilities,Subsector 213 – Support Activities for Mining
119,NaN,,Sector 23 – Construction,NaN,NaN,NaN,Sector 23 – Construction,Subsector 221 – Utilities
156,NaN,,Sector 31 – 33 – Manufacturing,NaN,NaN,NaN,Sector 31 – 33 – Manufacturing,Subsector 238 – Specialty Trade Contractors
538,NaN,,Sector 42 – Wholesale Trade,NaN,NaN,NaN,Sector 42 – Wholesale Trade,Subsector 339 – Miscellaneous Manufacturing
539,NaN,,(These NAICS codes shall not be used to classi...,NaN,NaN,NaN,Sector 42 – Wholesale Trade,Subsector 339 – Miscellaneous Manufacturing
614,NaN,,Sector 44 - 45 – Retail Trade,NaN,NaN,NaN,Sector 44 - 45 – Retail Trade,Subsector 425 – Wholesale Electronic Markets a...
615,NaN,,(These NAICS codes shall not be used to classi...,NaN,NaN,NaN,Sector 44 - 45 – Retail Trade,Subsector 425 – Wholesale Electronic Markets a...
694,NaN,,Sector 48 - 49 – Transportation and Warehousing,NaN,NaN,NaN,Sector 48 - 49 – Transportation and Warehousing,Subsector 454 – Nonstore Retailers
764,NaN,,Sector 51 – Information,NaN,NaN,NaN,Sector 51 – Information,Subsector 493 – Warehousing and Storage
802,NaN,,Sector 52 – Finance and Insurance,NaN,NaN,NaN,Sector 52 – Finance and Insurance,Subsector 519 – Other Information Services
847,NaN,,Sector 53 – Real Estate and Rental and Leasing,NaN,NaN,NaN,Sector 53 – Real Estate and Rental and Leasing,"Subsector 525 – Funds, Trusts and Other Financ..."
875,NaN,,"Sector 54 – Professional, Scientific and Techn...",NaN,NaN,NaN,"Sector 54 – Professional, Scientific and Techn...",Subsector 533 – Lessors of Nonfinancial Intang...
932,NaN,,Sector 55 – Management of Companies and Enterp...,NaN,NaN,NaN,Sector 55 – Management of Companies and Enterp...,"Subsector 541 – Professional, Scientific and T..."
936,NaN,,"Sector 56 – Administrative and Support, Waste ...",NaN,NaN,NaN,"Sector 56 – Administrative and Support, Waste ...",Subsector 551 – Management of Companies and En...
984,NaN,,Sector 61 – Educational Services,NaN,NaN,NaN,Sector 61 – Educational Services,Subsector 561 – Administrative and Support Ser...
1004,NaN,,Sector 62 – Health Care and Social Assistance,NaN,NaN,NaN,Sector 62 – Health Care and Social Assistance,Subsector 611 – Educational Services
1048,NaN,,"Sector 71 – Arts, Entertainment and Recreation",NaN,NaN,NaN,"Sector 71 – Arts, Entertainment and Recreation",Subsector 624 – Social Assistance
1077,NaN,,Sector 72 – Accommodation and Food Services,NaN,NaN,NaN,Sector 72 – Accommodation and Food Services,"Subsector 713 – Amusement, Gambling and Recrea..."
1095,NaN,,Sector 81 – Other Services,NaN,NaN,NaN,Sector 81 – Other Services,Subsector 722 – Food Services and Drinking Places
1147,NaN,,Sector 92 – Public Administration,NaN,NaN,See footnote 19,Sector 92 – Public Administration,"Subsector 813 – Religious, Grantmaking, Civic,..."
1148,NaN,,(Small business size standards are not establi...,NaN,NaN,NaN,Sector 92 – Public Administration,"Subsector 813 – Religious, Grantmaking, Civic,..."

In [24]:
# Delete rows where 'NAICS Sector' values are nulls.
df.dropna(subset=['NAICS Sector'], inplace=True)

In [25]:
df

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,Sector,Subsector
2,11,111110,Soybean Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
3,11,111120,Oilseed (except Soybean) Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
4,11,111130,Dry Pea and Bean Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
5,11,111140,Wheat Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
6,11,111150,Corn Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
...,...,...,...,...,...,...,...,...
1142,81,813910,Business Associations,8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1143,81,813920,Professional Organizations,16.5,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1144,81,813930,Labor Unions and Similar Labor Organizations,8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1145,81,813940,Political Organizations,8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1146,81,813990,"Other Similar Organizations (except Business, ...",8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."

In [26]:
# Filter rows where 'NAICS Sector Code' is 'Su'
df[df['NAICS Sector'] == 'Su']

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,Sector,Subsector
32,Su,Subsector 112 – Animal Production and Aquaculture,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 112 – Animal Production and Aquaculture
51,Su,Subsector 113 – Forestry and Logging,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 113 – Forestry and Logging
55,Su,"Subsector 114 – Fishing, Hunting and Trapping",,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...","Subsector 114 – Fishing, Hunting and Trapping"
60,Su,Subsector 115 – Support Activities for Agricul...,,NaN,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 115 – Support Activities for Agricul...
72,Su,Subsector 211 – Oil and Gas Extraction,,NaN,NaN,NaN,"Sector 21 – Mining, Quarrying, and Oil and Gas...",Subsector 211 – Oil and Gas Extraction
...,...,...,...,...,...,...,...,...
1078,Su,Subsector 721 – Accommodation,,NaN,NaN,NaN,Sector 72 – Accommodation and Food Services,Subsector 721 – Accommodation
1086,Su,Subsector 722 – Food Services and Drinking Places,,NaN,NaN,NaN,Sector 72 – Accommodation and Food Services,Subsector 722 – Food Services and Drinking Places
1096,Su,Subsector 811 – Repair and Maintenance,,NaN,NaN,NaN,Sector 81 – Other Services,Subsector 811 – Repair and Maintenance
1116,Su,Subsector 812 – Personal and Laundry Services,,NaN,NaN,NaN,Sector 81 – Other Services,Subsector 812 – Personal and Laundry Services
1133,Su,"Subsector 813 – Religious, Grantmaking, Civic,...",,NaN,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."

In [27]:
# Convert 'NAICS Sector Code' to numeric, setting non-numeric values to NaN
df['NAICS Sector'] = pd.to_numeric(df['NAICS Sector'], errors='coerce')

# Drop rows where 'NAICS Sector Code' is NaN (i.e., non-numeric values)
df = df.dropna(subset=['NAICS Sector'])

In [28]:
df

,NAICS Sector,NAICS Codes,NAICS Industry Description,Size Standards \nin millions of dollars,Size standards in number of employees,Footnotes,Sector,Subsector
2,11.0,111110,Soybean Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
3,11.0,111120,Oilseed (except Soybean) Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
4,11.0,111130,Dry Pea and Bean Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
5,11.0,111140,Wheat Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
6,11.0,111150,Corn Farming,1,NaN,NaN,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production
...,...,...,...,...,...,...,...,...
1142,81.0,813910,Business Associations,8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1143,81.0,813920,Professional Organizations,16.5,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1144,81.0,813930,Labor Unions and Similar Labor Organizations,8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1145,81.0,813940,Political Organizations,8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."
1146,81.0,813990,"Other Similar Organizations (except Business, ...",8,NaN,NaN,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,..."

# Delete and Rearrange Columns

In [29]:
# Delete the Footnotes column
df = df.drop(columns=['Footnotes'], axis=1)

In [30]:
# Rename the column
df.rename(columns= {'NAICS Sector': 'NAICS Sector Code', 'Size Standards \nin millions of dollars':'Size Standards (millions of dollars)', 
                    'Size standards in number of employees':'Size standards (number of employees)'}, inplace=True)

In [31]:
# Changing the order of columns
df = df[['NAICS Sector Code', 'NAICS Codes', 'Sector',
       'Subsector', 'NAICS Industry Description',
       'Size Standards (millions of dollars)',
       'Size standards (number of employees)']]

In [32]:
# Reset the index
df.reset_index(drop=True, inplace=True)

In [33]:
df

,NAICS Sector Code,NAICS Codes,Sector,Subsector,NAICS Industry Description,Size Standards (millions of dollars),Size standards (number of employees)
0,11.0,111110,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production,Soybean Farming,1,NaN
1,11.0,111120,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production,Oilseed (except Soybean) Farming,1,NaN
2,11.0,111130,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production,Dry Pea and Bean Farming,1,NaN
3,11.0,111140,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production,Wheat Farming,1,NaN
4,11.0,111150,"Sector 11 – Agriculture, Forestry, Fishing and...",Subsector 111 – Crop Production,Corn Farming,1,NaN
...,...,...,...,...,...,...,...
1032,81.0,813910,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,...",Business Associations,8,NaN
1033,81.0,813920,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,...",Professional Organizations,16.5,NaN
1034,81.0,813930,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,...",Labor Unions and Similar Labor Organizations,8,NaN
1035,81.0,813940,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,...",Political Organizations,8,NaN
1036,81.0,813990,Sector 81 – Other Services,"Subsector 813 – Religious, Grantmaking, Civic,...","Other Similar Organizations (except Business, ...",8,NaN

# Save the Dataset

In [34]:
df.to_csv('SBA Sectors Cleaned.csv', index=False)